.centralRow{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.centralColumn{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.text{
    color:   rgba(248, 248, 148, 1);
}