body{
    background-image: url("./Board.jpg");
    width: 100%;
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.background2{
    background-image: url("./Board.jpg");
    margin-top: 10px;
    width: 100%;
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.text{
    color:   rgba(248, 248, 148, 1);
}
